# Step 1, load data

In [1]:
import numpy as np
import pandas as pd

path denote the folder path where all files are located

In [2]:
path = '/Users/CQ/Downloads/'
title = ['Demographics','schools','scores']

read data into txt[0]--demographic, txt[1]--school, and txt[2]--score

In [3]:
txt = [0] *3
for i in range(3):
    txt[i] = pd.read_table(path + title[i] + '.txt')
txt[2].loc[txt[2].subject == 'ela','subject'] = 'ELA'

merge three datasets, first one called **dataset**, saved for part B, second one called **data**, proceed for part A

In [4]:
dataset = pd.merge(txt[0],txt[1], how = 'outer')
data = pd.merge(dataset, txt[2], how = 'outer')
Total = data.dropna(subset = ['score'])

We only care about the students who have taken at least an exam, drop those who have no exams at all

In [5]:
Total

    StudentID Special_Ed  ELL School subject  score
0           1        NaN    A      A     ELA     65
1           1        NaN    A      A    Math     75
2           2          Y    B      A     ELA     84
3           2          Y    B      A    Math     65
4           3          Y    E      A     ELA     68
5           3          Y    E      A    Math     91
7           9          Z    E      B     ELA     79
8          10        NaN  NaN      B     SOC     67
9          11          U    A      B     ELA     75
10         12          K    O    NaN     ELA     84
11         13          5    E      B     ELA     62
12         13          5    E      B     ELA     69
13         13          5    E      B    Math     53
14         13          5    E      B    Math     57
17          4        NaN  NaN      A     ELA     51
18          4        NaN  NaN      A    Math     91
19          5        NaN  NaN      A     ELA     99
20          6        NaN  NaN      B     ELA     73
21          7        NaN  NaN      B    Math     23

selecting all the passing scores out of it

In [6]:
Passing = data[data.score >= 65]
Passing

    StudentID Special_Ed  ELL School subject  score
0           1        NaN    A      A     ELA     65
1           1        NaN    A      A    Math     75
2           2          Y    B      A     ELA     84
4           3          Y    E      A     ELA     68
5           3          Y    E      A    Math     91
7           9          Z    E      B     ELA     79
8          10        NaN  NaN      B     SOC     67
9          11          U    A      B     ELA     75
10         12          K    O    NaN     ELA     84
12         13          5    E      B     ELA     69
18          4        NaN  NaN      A    Math     91
19          5        NaN  NaN      A     ELA     99
20          6        NaN  NaN      B     ELA     73

# Step 2, solving part A, computing passing rate

define a function for general usage, please see detailed information below

In [7]:
def PassingRate(school, subject, population = 1):
    '''This function is for computing passing rate in two schools with resepct to
    two subjects, it requires three arguments:
    school: string "A" or "B"
    subject: string "Math" or "ELA"
    population:
        1 -- all students (default setting)
        2 -- ELL students (where students' ELL status is "A","E","I","O", or "U")
        3 -- Special ed recipient (where stduents with "Y" Special_Ed flag)
        4 -- for BOTH ELL and special ed    
    '''
    ELLflag = ['A','E','I','O','U']
    if population == 2:
        passing = Passing[Passing.ELL.isin(ELLflag)]
        total = Total[Total.ELL.isin(ELLflag)]
    elif population == 3:
        passing = Passing[Passing.Special_Ed == 'Y']
        total = Total[Total.Special_Ed == 'Y']
    elif population == 4:
        passing = Passing[(Passing.Special_Ed == 'Y') & (Passing.ELL.isin(ELLflag))]
        total = Total[(Total.Special_Ed == 'Y') & (Total.ELL.isin(ELLflag))]
    else:
        passing = Passing
        total = Total

    if sum((total.School == school)&(total.subject == subject)) != 0:
        return 100.0 * sum((passing.School == school)&(passing.subject == subject)) / sum((total.School == school)&(total.subject == subject))
# if for certain population selection, the number of students is zero, then we can't do division and thus return 'nan'
    else:
        return float('nan')

In [8]:
school = ['A','B']
subject = ['Math','ELA']

Store all 16 different passing rates in array called **PR**

In [9]:
PR = np.zeros((2,2,4))

for i in school:
    for j in subject:
        for population in range(4):
            PR[school.index(i)][subject.index(j)][population] = PassingRate(i,j,population+1)

So here first row for school A subject math, second row for school A subject ELA, while the other two for school B respectively, same order.

Column order determines the population, for example, second column is the passing rate of ELL students

In [11]:
dd = pd.DataFrame(PR.reshape(4,4))

In [13]:
dd

    0    1    2    3
0  75  100   50  100
1  80  100  100  100
2   0    0  NaN  NaN
3  80   75  NaN  NaN

In [12]:
PR

array([[[  75.,  100.,   50.,  100.],
        [  80.,  100.,  100.,  100.]],

       [[   0.,    0.,   nan,   nan],
        [  80.,   75.,   nan,   nan]]])

# Step 3, solving part B, construct dataset

recall **dataset** from part A, proceed

In [ ]:
dataset

append **math scores** and **ELA scores** to dataset

In [ ]:
dataset = pd.merge(dataset,txt[2][txt[2].subject == 'Math'].iloc[:,[0,2]], on = 'StudentID', how= 'outer')
dataset.rename(columns={'score': 'score_Math'}, inplace=True)
dataset = pd.merge(dataset,txt[2][txt[2].subject == 'ELA'].iloc[:,[0,2]], on = 'StudentID', how= 'outer')
dataset.rename(columns={'score': 'score_ELA'}, inplace=True)

append **pass_math** and **pass_ELA** to dataset

In [ ]:
dataset['Pass_math'] = (dataset.score_Math >= 65 + 0)
dataset['Pass_ELA'] = (dataset.score_ELA >= 65 + 0)

In [ ]:
dataset.Pass_math[dataset.score_Math.isnull()] = float('nan')
dataset.Pass_ELA[dataset.score_ELA.isnull()] = float('nan')

In [ ]:
dataset

write the dataset into a tab-seperated file in the same folder

In [ ]:
dataset.to_csv(path +'Student_Dataset.txt', sep ='\t', encoding= 'utf-8', index = False)